.moneyTransfer {
    max-width: 360px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    padding: 15px;
}

.moneyTransfer__label {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
}

.money-transfer__select {
    width: 90%;
}

.moneyTransfer__errorLabel {
    margin-bottom: 15px;
    width: 100%;
}

.moneyTransfer__btn {
    background-color: #061178;
    color: #ffffff;
    border: none;
}